.project {
  width: 100%;
  position: relative;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
    color: #fff;
  h2 {
    font-size: 2rem;
  }
  &__image {
    max-width: 100%;
    transition: all 0.2s;
    display: block;
    cursor: pointer;
  }
  &__title--closed {
    cursor: pointer;
    @include center-absolute;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 10;
  }
  &__open {
    position: absolute;
  }
}

.project:hover .project__title--closed {
  opacity: 1;
}

.project:hover .project__image {
  filter: brightness(0.2);
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .project__image {
    filter: brightness(0.3);
  }
  .project__title--closed {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .project__title--closed {
    font-size: 120% !important;
  }
}
@media (max-width: 425px) {
  .project {
    -webkit-box-reflect: below -30px
    linear-gradient(transparent, transparent, #0004);
  }
}
