.tools-header{
    position: absolute;
    top: 11rem;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    color: $color-accent;
    font-size: 3rem;
    width: 90%;
}


  @media (max-width: 768px) {
    .tools-header{
        font-size: 2rem;
        top:8rem;
    }
  }
  @media (max-width: 425px) {
    .tools-header{
        top: 5rem;
    }
  }
  